@model IEnumerable<MvcSegundoExamen.Models.Evento>

@{
    ViewData["Title"] = "Index";
    string UrlBucket = keysModel.BucketS3;
    List<CategoriaEvento> categorias = ViewData["CATEGORIAS"] as List<CategoriaEvento>;
}

<h1>Lista de Eventos</h1>

<form method="post">
    <label>Selecciona una categoria para filtrar: </label>
    <select name="categoria" class="form-select">
        @foreach(CategoriaEvento cat in categorias)
        {
            <option value="@cat.IdCategoria">@cat.Nombre</option>
        }
    </select>
    <button class="btn btn-dark">Enviar</button>
</form>

@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IdEvento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Artista)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdCategoria)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Imagen)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdEvento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Artista)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdCategoria)
                    </td>
                    <td>
                        <img src="@UrlBucket@Html.DisplayFor(modelItem => item.Imagen)" style="width:150px" />
                    </td>
                </tr>
            }
        </tbody>
    </table>

}